In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kikwit,CD,2022-07-11 20:27:51,-5.0410,18.8162,77.16,25,85,2.75
1,1,Cidreira,BR,2022-07-11 20:27:52,-30.1811,-50.2056,68.36,78,65,9.73
2,2,Atuona,PF,2022-07-11 20:27:52,-9.8000,-139.0333,77.67,75,40,16.53
3,3,Barrow,US,2022-07-11 20:27:53,71.2906,-156.7887,37.42,93,100,18.41
4,4,Dikson,RU,2022-07-11 20:27:53,73.5069,80.5464,37.44,91,99,9.19

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter th dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)&\
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kikwit,CD,2022-07-11 20:27:51,-5.0410,18.8162,77.16,25,85,2.75
2,2,Atuona,PF,2022-07-11 20:27:52,-9.8000,-139.0333,77.67,75,40,16.53
7,7,Puerto Carreno,CO,2022-07-11 20:27:55,6.1890,-67.4859,87.78,62,40,4.61
10,10,Victoria,HK,2022-07-11 20:27:57,22.2855,114.1577,86.18,85,2,5.01
11,11,Sao Desiderio,BR,2022-07-11 20:27:57,-12.3633,-44.9733,85.01,24,33,7.14
12,12,Hilo,US,2022-07-11 20:27:58,19.7297,-155.0900,82.13,62,40,5.99
18,18,Fortuna,US,2022-07-11 20:28:01,40.5982,-124.1573,80.92,65,20,3.00
20,20,Sao Jose Da Coroa Grande,BR,2022-07-11 20:28:02,-8.8978,-35.1478,76.71,83,50,6.31
27,27,Conde,BR,2022-07-11 20:23:41,-7.2597,-34.9075,78.26,73,0,8.05
29,29,Athens,GR,2022-07-11 20:28:08,37.9795,23.7162,80.19,49,20,3.44

In [12]:
preferred_cities_df.count()

City_ID       208
City          208
Country       208
Date          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
0                     Kikwit      CD     77.16  -5.0410   18.8162
2                     Atuona      PF     77.67  -9.8000 -139.0333
7             Puerto Carreno      CO     87.78   6.1890  -67.4859
10                  Victoria      HK     86.18  22.2855  114.1577
11             Sao Desiderio      BR     85.01 -12.3633  -44.9733
12                      Hilo      US     82.13  19.7297 -155.0900
18                   Fortuna      US     80.92  40.5982 -124.1573
20  Sao Jose Da Coroa Grande      BR     76.71  -8.8978  -35.1478
27                     Conde      BR     78.26  -7.2597  -34.9075
29                    Athens      GR     80.19  37.9795   23.7162

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kikwit,CD,77.16,-5.0410,18.8162,HOTEL PLACE YALABA
2,Atuona,PF,77.67,-9.8000,-139.0333,Villa Enata
7,Puerto Carreno,CO,87.78,6.1890,-67.4859,Casa Hotel Victoria
10,Victoria,HK,86.18,22.2855,114.1577,Mini Central
11,Sao Desiderio,BR,85.01,-12.3633,-44.9733,Pousada do Luizão
12,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Fortuna,US,80.92,40.5982,-124.1573,Super 8 by Wyndham Fortuna
20,Sao Jose Da Coroa Grande,BR,76.71,-8.8978,-35.1478,Crôa Mares Hotel
27,Conde,BR,78.26,-7.2597,-34.9075,Pousada Beija Flor
29,Athens,GR,80.19,37.9795,23.7162,Safestay Athens

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))